<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myshop.cart.mapper.CartMapper">
	<insert id="insertCart" parameterType="map">
		INSERT INTO `cart`
		(
			`userId`
			, `productId`
			, `optionId`
			, `amount`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{productId}
			, #{optionId}
			, #{amount}
			, NOW()
			, NOW()
		);
	</insert>
</mapper>