<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myshop.inquire.mapper.InquireMapper">
	<insert id="insertInquire" parameterType="com.myshop.inquire.domain.Inquire">
		INSERT INTO `inquire`
		(
			`userId`
			, `productId`
			, `type`
			, `title`
			, `content`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{productId}
			, #{type}
			, #{title}
			, #{content}
			, NOW()
			, NOW()
		)
	</insert>

	
	<select id="selectInquireByProductId" resultType="com.myshop.inquire.domain.Inquire">
		SELECT
			`id`
			,`userId`
			,`productId`
			,`type`
			,`title`
			,`content`
			,`createdAt`
			,`updatedAt`
		FROM
			`inquire`
		WHERE
			`productId` = #{productId}
	</select>
</mapper>