<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myshop.order.mapper.OrderMapper">
	<insert id="insertOrder" parameterType="com.myshop.order.domain.Order"
	 useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `order`
		(
			`userId`
			, `orderName`
			, `address`
			, `message`
			, `phoneNumber`
			, `amount`
			, `totalPrice`
			, `deliveryPrice`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{orderName}
			, #{address}
			, #{message}
			, #{phoneNumber}
			, #{amount}
			, #{totalPrice}
			, #{deliveryPrice}
			, NOW()
			, NOW()
		);
	</insert>
	
	<select id="selectOrderListByUserId" parameterType="int" resultType="com.myshop.order.domain.Order">
		SELECT
			`id`
			, `userId`
			, `orderName`
			, `address`
			, `message`
			, `phoneNumber`
			, `amount`
			, `totalPrice`
			, `deliveryPrice`
			, `createdAt`
			, `updatedAt`
		FROM
			`order`
		WHERE
			`userId` = #{userId}
	</select>
</mapper>