<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myshop.order.mapper.OrderDetailMapper">
	<insert id="insertOrderDetail" parameterType="map">
		INSERT INTO `order_detail`
		(
			`orderId`
			, `productId`
			, `option`
			, `price`
			, `amount`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{orderId}
			, #{productId}
			, #{option}
			, #{price}
			, #{amount}
			, NOW()
			, NOW()
		);
	</insert>
</mapper>