<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myshop.product.mapper.ProductMapper">
	<select id="selectProductList" resultType="map">
		SELECT
			`id`
			, `categoryId`
			, `subclassId`
			, `optionId`
			, `title`
			, `description`
			, `price`
			, `discountPrice`
			, `stock`
			, `productStatus`
			, `createdAt`
			, `updatedAt`
		FROM
		 `product`
	</select>
	
	
	<select id="selectProductById" parameterType="int" resultType="com.myshop.product.domain.Product">
		SELECT
			`id`
			, `categoryId`
			, `subclassId`
			, `optionId`
			, `title`
			, `description`
			, `price`
			, `discountPrice`
			, `stock`
			, `productStatus`
			, `createdAt`
			, `updatedAt`
		FROM
		 `product`
		WHERE
			`id` = #{id}
	</select>
</mapper>