<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myshop.review.mapper.ReviewMapper">
	<select id="selectReviewListByProductId" parameterType="int" resultType="map">
		SELECT
			`id`
			, `userId`
			, `productId`
			, `point`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`review`
		WHERE
			`productId` = #{productId}
	</select>
</mapper>