@charset "UTF-8";
#wrap {
	width: 100%;
	min-width: 1200px;
}

header {
	display: flex;
	justify-content: center;
	height: 200px;
}


.header-area {
	width: 1350px;
	display: flex;
	align-items: center;
	gap: 150px;
}

.search-box {
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	width: 400px; 
	height: 40px; 
	border-radius: 15px; 
	border-style: solid;
	border-color: cadetblue;
	border-width: 2px;
	margin-left: 200px;
}

.input-box {
	background-color: transparent;
	border: none;
	margin: 0px 0px 0px 15px;
	padding: 0px;
}

.button-area {
	width: 60px;
	height: inherit;
}

.search-btn {
	background-color: transparent;
	border: none;
	margin-top: 3px;
}

.util-area {
	display: flex;
	align-items: center;
	justify-content: end;
	height: 30px;
}

.util-area ul {
	list-style: none;
	padding:0px ;
	margin: 10px 0px 0px 0px;
}

.util-area ul li {
	float: left;
}

.util-area ul li::after {
	content: "|";
	float: right;
	display: block;
	color: #999;
}

.util-area ul li:last-child::after {
	content: "";
}

.util-area ul li a {
	padding: 0 10px;
	color: #999;
}

.util-area a:hover {
	color: #999;
	text-decoration: none;
}

.header-menu-list a, .header-menu-list a:hover  {
	color: #000;
	text-decoration: none;
	font-size: 20px;
}

#category {
	display: flex;
	align-items: center;
}

#category:before {
	content: "";
    display: inline-block;
    margin: 0 8px 0 0;
    background: url(/static/img/list-icon.png) 0 14px no-repeat;
    width: 24px;
    height: 45px;
    vertical-align: middle;
}

.header-menu-list {
	height: 80px;
	background-color: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0px;
	padding: 0px;
}

.header-menu-list-items {
	display: inline-block;
}


.header-menu-list-items-sub {
	height: 0;
	overflow: hidden;
}


.header-menu-list-items-sub {
	display: flex;
	justify-content: space-between;
	position:absolute;

}

.header-menu-list-items-sub-items {
	display: inline-block;
}



.header-menu-list-items:hover .header-menu-list-items-sub {
	width: 95%;
	height: 300px;
	background-color: #fff;
	z-index: 2;
}



.subclass-list {
	height : inherit;
	height: 0;
	overflow: hidden;
	position:absolute;
}

.header-menu-list-items-sub-items:hover .subclass-list {
	list-style: none;
	width: 200px;
	height: fit-content;
	background-color:#fff;
	padding: 0px;
}



.banner-area {
	 width: 1600px;
	 position:relative;
	 z-index: 1;
}

section {
	min-height: 900px;
	display: flex;
	justify-content: center;
}

footer {
	height: 100px;
}

#logoTitle, #logoTitle:hover {font-size: 45px; font-weight: bolder; color: #000; text-decoration: none;}


.login-box, .sign-up-box {
	width: 850px;
	height: inherit;
	padding: 90px 0px 0px 0px;
	margin: 0px 0px 0px 130px;
}

.loginArea, .signUpArea {
	width: 510px;
}

#kakaoLoginBtn {
	width: 510px;
	height: 50px;
	background-color:  #FEE500;
	display: flex;
    align-items: center;
	font-size: large;
	font-weight: bolder;
	border-radius: 10px;
	border-width: 1px;
}

#kakaoLoginBtn > span {
	width: 450px;
}


#googleLoginBtn {
	width: 510px;
	height: 50px;
	background-color:  #fff;
	display: flex;
    align-items: center;
	font-size: large;
	font-weight: bolder;
	border: #e9e9e9;
	border-style: solid;
	border-radius: 10px;
	border-width: 1px;
	margin: 10px 0px 0px 0px;
}

#googleLoginBtn > span {
	width: 450px;
}

#naverLoginBtn {
	width: 510px;
	height: 50px;
	background-color:  #03c75a;
	display: flex;
    align-items: center;
	font-size: large;
	font-weight: bolder;
	border-style: solid;
	border-radius: 10px;
	border-width: 1px;
	margin: 10px 0px 0px 0px;
}

#naverLoginBtn > span {
	width: 450px;
	color: #fff;
}

.sign-in-input {
	margin: 5px;
	height: 40px;
	border-style: none;
	background-color: transparent;
	outline: none;
}

.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    font-size: 15px;
    margin: 10px 0px 20px 0px;
}

.hr-sect::before, .hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 16px;
 }

.loginNag, .signUpNag {
	text-align: center;
	margin-bottom: 30px;
}

.linkArea {width : 510px; height: 30px;}

.linkArea ul {
	list-style: none;
	padding:0px ;
}

.linkArea ul li {
	float: left;
	margin-right: 5px;
}

.linkArea ul li::after {
	content: "|";
	float: right;
	display: block;
	color: #999;
}

.linkArea ul li:last-child::after {
	content: "";
}

.linkArea ul li a {
	padding: 0 10px;
	color: #999;
}

.signUpArea label {
	display: block;
	font-size: 15px;
}

#isDuplicatedBtn {height: 38px;}

.userInfo {margin-top: 20px;}

.userInfo span {font-size: 20px; margin : 0px 11px 0px 11px;}


#carousel {
	width: 1350px;
	height: 400px;
	z-index: 1;
}

.carousel-control-prev, .carousel-control-next {
	width: 150px;
}

.carousel-caption {
	
	height: 350px;
	display: flex;
	align-items: center;
	padding: 0px;
	left: 150px;
}

.carousel-indicators li {border-radius: 50%; width: 10px; height: 10px; margin: 0px 5px;}
.carousel-indicators .active {background-color: lemonchiffon;}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		transform: translateZ(0);
	}
}

.carousel-title {
	position: relative;
	animation: fadeInUp 2s;
	display: flex;
	justify-content: start;
	margin: 10px 0px;
	font-weight: bold;
}

.prod-list-area {width: 1200px; margin-top: 30px;}
.prod-list-area ul {list-style: none; padding: 0px; display: grid; grid-template-columns: repeat(4, 1fr);}
.prod-area {height: 480px; width: 300px;}
.prod {margin: 0px 10px; width: 280px;}
.prod_detail {padding: 20px 0px;}
.prod_detail > * {display: block;}


.prod-info-area {
	width: 1350px;
	height: 800px;
	margin: 30px 0px;
	display: flex;
	justify-content: center;
	gap: 0px 100px;
}

.prod-info {padding: 25px 0px 0px 0px;}
.prod-image {margin: 25px 20px;}
.prod-name {font-size: 25px; font-weight: bold;}
.prod-price {width: 450px; height: 40px; align-items: end;}
.origin-price {font-size: 20px; color: #aaa;}
.discount-price {font-size: 28px; color: #e02020;}

.product-info-table {
    height: 250px;
}

.prod-info table th{
    width: 100px;
}

.prod-info table td{
    width: 300px;
}

.product-option-table {
    height: 100px;
}

.prod-amount-area {
	width: 450px;
	height: 60px;
	background: #f9f9f9;
	border-style: solid;
	border-color:#e9e9e9;
	border-width: 1px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	margin: 20px 0px 0px 0px;}
.prod-amount-box {width: 410px; height: 30px; display: flex; justify-content: space-between;}
.title {display: flex; align-items: center;}
.amount-minus, .amount-plus {width: 32px; height: 32px; padding: 0px;}
#amount {width: 60px; height: 32px; padding: 0px 10px; text-align: center;}

.prod-total-price {
	font-size: 24px;
	display: flex;
	justify-content: space-between;
	padding: 0px 10px 10px 10px;
	margin: 30px 0px 0px 0px;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: rgb(235, 65, 65);
	color: rgb(235, 65, 65);}
	
.order-price {
	font-size: 28px;
	font-weight: bolder;
	color: rgb(235, 65, 65);
}
.order-button-box {
	width: 450px;
	height: 60px;
	display: flex;
	justify-content: space-between;
	margin: 15px 0px 0px 0px;
}
	
#addLikeBtn {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(235, 65, 65);
}

#orderBtn {
	width: 180px;
}

#addCartBtn {
	width: 190px;
}

.prod-description-area {
	width: 1350px;
	min-height: 600px;
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: rgb(192, 192, 192);
}

.description-button-area {display: flex; justify-content: center;}
#descriptionBtn, #reviewBtn, #qnaBtn {width : 500px;}


.description-img-box {
	width: 900px;
}

.review-info-box {
	width: 1100px;
	height: 150px;
	background-color:#f9f9f9;
	margin: 10px 0px;
	display: flex;
	justify-content: space-evenly;
}

.review-info-box > div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 365px;
}

.user-id-box, .review-created-date {color: #999;}

.qna-area, .review-area, .description-area {
	width: 1350px;
	min-height: 600px;
	display: flex;
	justify-content: center;
}
.qna-btn-area {
	width: 1350px;
	margin: 10px 0px;
	display: flex;
	justify-content: center;
}


.non-comment {
	width: 100px;
	height: 30px;
	background-color:darkgrey;
	color: #fff;
	text-align: center;
	border-radius: 15px;
	padding: 3px 0px 0px 0px;
}

.exist-comment {
	width: 100px;
	height: 30px;
	background-color:yellowgreen;
	color: #fff;
	text-align: center;
	border-radius: 15px;
	padding: 3px 0px 0px 0px;
}

.qna-content-area {
	display: flex;
	justify-content: center;
}
.qna-box {
	width: 920px;
}

#inquireBtn {
	width: 1200px;
	height: 60px;
}

#qnaContent {
	resize: none;
}

.inquire-list {
	width: 1350px;
}
.inquire-list-box {
	width: 1200px;
}

.inquire-title {
	width: 800px;
}

.inquire-writer {
	width:130px;
}

.my-page-area {
	width: 1200px;
	min-height: 900px;
	padding: 50px 0px 0px 0px;
}

.my-page-menu-list {
	width: 250px;
	padding: 30px 0px 0px 10px;
}


.my-page-content {
	width: 950px;
}

.user-info-box {
	width: 950px;
	height: 150px;
	background-color: gainsboro;
}

.user-info {
	width: 150px;
	text-align: center;
	align-self: center;
}


#includeArea {
	min-height: 600px;
}

#cartTable {
	text-align: center;
}

#cartTable td {
	height: 130px;
	text-align: center;
	vertical-align: middle;
}

.admin-box {
	width: 2000px;
	min-height: 600px;
	display: flex;
	justify-content: space-between;
}

#adminContents {
	width: 1800px;
	padding: 30px 50px;
}

.admin-menu-list {
	width: 300px;
	background-color: rgb(0, 1, 34);
	color: #fff;
	font-weight: bolder;
	font-size: 25px;
	padding: 20px 45px;
}

.admin-menu-list button, .admin-menu-list button:hover {
	padding: 10px 0px;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
}

.site-info {
	height: 30%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.info-box {
	display: flex;
	justify-content: center;
	width: 200px;
	height: 200px;
	border: darkgrey;
	border-width: 2px;
	border-style: solid;
	border-radius: 50px;
	padding: 35px 0px;
}

.info-box div {
	text-align: center;
}

.info-title {
	font-size: 20px;
	font-weight: bold;
	height: 50px;
	display: flex;
	align-items: center;
}

.info-amount {
	font-size: 25px;
	font-weight: bold;
}

.admin-user-box, .admin-order-box, .admin-product-box, .admin-inquiry-box {
	margin: 30px 10px;
}

.address-box {
	width: 475px;
}