@charset "UTF-8";

#wrap {
	height: 1000px;
}

header {
	height: 100px
}

nav {
	height: 70px;
}

section {
	min-height: 900px;
}

footer {
	height: 100px;
}

.login-box, .sign-up-box {
	width: 850px;
	height: inherit;
	padding: 90px 0px 0px 0px;
	margin: 0px 0px 0px 130px;
}

.loginArea, .signUpArea {
	width: 510px;
}


.sign-in-input {
	margin: 5px;
	height: 40px;
	border-style: none;
	background-color: transparent;
	outline: none;
}

.loginNag, .signUpNag {
	text-align: center;
	margin-bottom: 30px;
}

.linkArea {width : 510px; height: 30px;}

.linkArea ul {
	list-style: none;
	padding:0px ;
}

.linkArea ul li {
	float: left;
	margin-right: 5px;
}

.linkArea ul li::after {
	content: "|";
	float: right;
	display: block;
	color: #999;
}

.linkArea ul li:last-child::after {
	content: "";
}

.linkArea ul li a {
	padding: 0 10px;
	color: #999;
}

.signUpArea label {
	display: block;
	font-size: 15px;
}

.userInfo {margin-top: 20px;}

.userInfo span {font-size: 20px; margin : 0px 11px 0px 11px;}